body {
	color: $cPrimary;
	font-family: $fArial;
	font-size: 100%;
	box-sizing: border-box;
}
// Typography 
h1{
	font-size: 1.87em; // 20px
}
h2{
	font-size: 1.125em; //18px
}
label{
	margin-bottom: 0.5em;
}
input{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	box-sizing: border-box;
}
textarea{
    display: block;
    width: 100%;
    resize: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	box-sizing: border-box;
}
.band{
    padding-top: 20px;
    padding-bottom: 20px;
    min-height:100vh;
    overflow: hidden;
}
.band-intro{
    background-color: #e6e9ed;
}
.band-about-me{
    background-color: #94bbec;
}
.band-contact{
    background-color: #8cc152;
}

.band-inner{
	max-width: 2000px; //1200 or 1400 or 1600 or 2000
	width: 90%;
	margin: 0 auto;
}
header {
	padding-top: 20px;
	padding-bottom: 20px;
}
main{

}

footer {
	background-color: #ccc;
	padding-top: 20px;
	padding-bottom: 20px;
}